@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400';
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.home-stats
{
  padding-top: 50px;
}
.home-linegraph-runs-per-week
{
  padding-top: 75px;
}

.builtwith {
  height: 200px;
  width: 200px;
  border: 1px solid red;
  display: table-cell;
  vertical-align: bottom;
}